<div class="container pt-5">

  <h1>Mes listes de films</h1>

  <%= link_to "Créer une nouvelle liste" , new_list_path %>
  <br>
  <br>
  <% @lists.each do |list| %>
  <a href="<%= list_path(list.id) %>">
  <div class="card w-75">
    <div class="card-body">
      <h5 class="card-title">
        <%= list.name %>
      </h5>
      <%= link_to "Ajouter un film", new_list_bookmark_path(list.id), class: "btn btn-primary" %>
</a>
    </div>
  </div>
  <br>
  <% end %>
</div>
