<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
  <%#  --- Petit trait en bas du caroussel qui montre le nombre de slide -------- %>


  <div class="carousel-inner">
    <%#  ------------------------------------ SLIDE 1 -------- %>
    <div class="carousel-item active">
      <img src="https://template.canva.com/EAENvp21inc/1/0/1600w-qt_TMRJF4m0.jpg" class="img-fluid" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h2>Mes listes de films</h2>
      </div>
    </div>
  </div>
</div>
